In [13]:
""" 
type conversions type functions(int, str, float, bool,
                                   tuple, list,  set, dict
                                )
"""
num = 20
print(f"Before Conversion, {num} data type is {type(num)}") 
num = str(num)
print(f"After Conversion, {num} data type is {type(num)}") 

print("=====================")

age = "34"
print(f"Before Conversion, {age} data type is {type(age)}") 

age = int(age)
print(f"After Conversion, {age} data type is {type(age)}") 


print("=====================")

age = "34.5"
print(f"Before Conversion, {age} data type is {type(age)}") 

age = float(age)
age = int(age)
print(f"After Conversion, {age} data type is {type(age)}")

<class 'int'>
<class 'str'>
=====================
Before Conversion, 34 data type is <class 'str'>
After Conversion, 34 data type is <class 'int'>
=====================
Before Conversion, 34.5 data type is <class 'str'>
After Conversion, 34 data type is <class 'int'>

In [12]:
# f strings
course = "flask"
print("This is", course, "Training")
print(f"This is {course} Training")

This is flask Training
This is flask Training

In [17]:
database = {}
database["name"] = "john"
database["age"] = 30

print(database)

{'name': 'john', 'age': 30}